<div class="admin-title">
  <h2>Challenges</h2>
  <a href="/admin/add-challenge" class="button">+ Add New Challenge</a>
</div>

<ul class="admin-post">
  <% data.forEach(challenge => { %>
  <li>
    <a href="/post/<%= challenge._id %>"><%= challenge.title %> &nearr;</a>
    <div class="admin-post-controls">
      <a href="/admin/edit-challenge/<%= challenge._id %>" class="btn">Edit</a>
    </div>
  </li>
  <% }); %>
</ul>

<div>
  <h2>Users</h2>
</div>
