<body>
  <button onclick="">Go Back</button>
  <h1>Challenge Packs</h1>
  <div class="challenge-cards">
    <% challengeArray.forEach(challenge => { %>
    <div class="challenge-card">
      <span id="challenge-card-title"><%- challenge.title %></span> <br />
      <span id="challenge-card-desc"><%- challenge.desc %></span>
      <form
        action="addChallenge/<%= challenge.title %>?_method=PUT"
        method="POST"
      >
        <input type="submit" value="Accept Challenge" class="btn" />
      </form>
    </div>
    <% }); %>
  </div>
</body>
