<body>
  <h1>Challenge Achevments Website</h1>
  <form action="/register">
    <input type="submit" id="index-signup-btn" value="Sign Up" />
  </form>

  <form action="/login">
    <input type="submit" id="index-login-btn" value="Login" />
  </form>
</body>
