<body>
  <h1>Challenge Packs</h1>
  <div class="challenge-cards">
    <% userChallenges.forEach(challenge => { %>
    <div class="challenge-card">
      <span id="challenge-card-title"><%- challenge.title %></span> <br />
      <span id="challenge-card-desc"><%- challenge.desc %></span>
    </div>
    <% }); %>
  </div>
</body>
